{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Simple broadcast</title>
    <link href="{% static 'toastr.min.css' %}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'toastr.min.js' %}"></script>
</head>
<body>
    <textarea id="msg-log" cols="100" rows="20"></textarea><br/>
    <input id="msg-input" type="text" size="100"/><br/>
    <input id="msg-submit" type="button" value="Enter"/>
</body>
<script>
    var channelName = 'b57test';
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/broadcast/' + channelName + '/');
    
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#msg-log').value += (message + '\n');
        toastr.info(message);
    };
    
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    
    document.querySelector('#msg-input').focus();
    document.querySelector('#msg-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#msg-submit').click();
        }
    };
    
    document.querySelector('#msg-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#msg-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
    //toastr.info('Are you the 6 fingered man?')
</script>
</html>
